<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Account</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/styles.css" />
  <!-- insert more custom css files here (if needed) -->
  <link rel="stylesheet" href="/css/index-styles.css" />
  <link rel="stylesheet" href="/css/post-styles.css" />
  <!-- tailwind link -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
  <!-- Google fonts link -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet" />
  <!-- Font awesome link -->
  <script src="https://kit.fontawesome.com/0947d2976d.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- index main -->
  {{>header}}

  <div class="main-box bg-white rounded-lg">
    <!-- account page intro -->
    <div class="text-center">
      <i class="fas fa-question fa-7x my-5 q-red"></i>
      <h1 class="q-title text-5xl my-5 q-red">{{accountPageName}}</h1>
      <p class="q-subtitle-dgray my-2">Posts: {{numOfPosts}} • Comments: {{numOfComments}}</p>

      {{#if isOwnPage}}
      <p class="q-subtitle-dgray my-5 q-blue">
        <a href="/account/view-details">View account details</a>
      </p>
      <p class="q-subtitle-dgray my-5 q-blue">
      <form action="/logout?_method=DELETE" method="post">
        <button type="submit" name="logout" value="logout">Logout</button>
      </form>
      </p>
      <p class="q-subtitle-dgray my-5 q-blue">
      <form action="/account/delete" method="post">
        <button type="submit" name="delete" value="delete">Delete account</button>
      </form>
      </p>
      {{/if}}
    </div>
    <!-- divider line -->
    <hr class="post-divider" />
    <!-- account posts and comments -->
    <h1 class="q-title q-subtitle-dgray text-3xl my-5 text-center q-red">
      Account Activity
    </h1>
    {{#each posts}}
    <div class="post rounded-lg">

      {{!-- post title --}}
      <h1 class="post-title">
        <a title="View Post" href="/post/view/{{postId}}">{{postTitle}}</a>
      </h1>
      <hr class="post-divider" />

      {{!-- post lower half (includes author) --}}
      <div class="post-comment">

        <h1 class="posted-by">
          Posted by: 
          {{../accountPageName}}
        </h1>
        <a title="Comment" href="/post/view/{{postId}}"><i class="fas fa-comments fa-2x"></i></a>

      </div>
    </div>
    {{/each}}

    {{#each comments}}
    <div class="post rounded-lg">
      {{!-- post title --}}
      <h1 class="post-title">
        <a title="View Post" href="/post/view/{{postId}}">{{commentContent}}</a>
      </h1>
      <hr class="post-divider" />
      {{!-- post lower half (includes author) --}}
      <div class="post-comment">
        <h1 class="posted-by">
          Commented by:
         {{../accountPageName}}
        </h1>
        <a title="Comment" href="/post/view/{{postId}}"><i class="far fa-clipboard fa-2x"></i></a>

      </div>
    </div>
    {{/each}}



  </div>
  </div>
</body>

</html>