<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Post</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- insert more custom css files here (if needed) -->
	<link rel="stylesheet" href="/css/index-styles.css"/>
	<link rel="stylesheet" href="/css/post-styles.css"/>
    <!-- tailwind link -->
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- Google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap"
      rel="stylesheet"
    />
    <!-- Font awesome link -->
    <script
      src="https://kit.fontawesome.com/0947d2976d.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- index main -->
    <div class="background-post">
      {{>header}}

      <div class="main-box bg-white rounded-lg">
		<div class="post rounded-lg">
			<h1 class="post-title">{{postTitle}}</h1>
			<hr class="post-divider">
			<div class="post-comment">
				<h1 class="posted-by">Posted by: {{postAuthor}}</h1>

        {{#if isAuthor}}
        <a title="Edit Post" href="../edit-post.html"><i class="far fa-edit"></i></a>
        <a title="Delete Post" href="../index-logged-in.html"><i class="fas fa-trash-alt"></i></a>
        {{/if}}
				</form>
			</div>
		</div>
		
		<div class="comments rounded-lg">
			<h1 class="comments-title">Comments</h1><i class="fas fa-comments fa-2x"></i>
			<hr class="post-divider">
			<div class="post-comment">

        {{#each comments}}
				<h1 class="posted-by"><a title="View Account Details" href="../accounts/account3.html">{{commentAuthor}}</a> answers:</h1>
				<p class="posted-by"> {{commentContent}}</p>
        <br>
        {{/each}}
			</div>
		</div>
		
  <div class="comments rounded-lg">
			<h1 class="post-title">Reply</h1>
			<form action="submit/{{postId}}" method="post" id="submit">
				<div>
					<textarea class="reply" form="submit" name="content"></textarea>
				</div>
				<button class="buttons my-2 btn-submit bg-blue-300 rounded-md" name="submit" type="submit" form="submit">
					<h2 class="mx-3 my-1 q-subtitle-black inline">Comment</h2>
				</button>
			</form>
		</div>

	  </div>
    </div>
    
    <script src="js/post-page.js"></script>
  </body>
</html>
